@import url('https://fonts.googleapis.com/css?family=Lato&display=swap%22');
/*
table of contents 
1)header style
  1.1)header style
  1.2)header logo style
  1.3)nav style

2)body style 
  2.1)plan section
    2.1.1)   title of plan section
    2.1.2)   style of three plans 
    2.1.3)   style of price 
    2.1.4)   style of list 
    2.1.5)   style of icon before the list-item
    2.1.6)  style of sign up button

  2.2)contact section
    2.1.1) Contact info
    2.2.2) contact icon (phone and web)
    2.2.3) entry of contact form 
    2.2.4) button send message
    2.2.5) social media icon  
    
  2.3)Footer
*/

*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body
{
  background-image: url(bg.png);
  background-color:rgb(243,242,242); 
width: 100%;
}

/*header style*/
.header
{
    position: fixed;
    z-index: 999;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding: 13px 0;
    background: #fff;

    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-family:  'Lato',arial, sans-serif;
    font-size:14px ;
}
/*header logo style*/
.header__logo
{
    display: flex;
    align-items: flex-start;
    margin-right:auto;
    margin-left: 75px;
}

.logo-link
{
    text-decoration: none;
    color:#444;
}
span
{
    position: absolute;
    padding-top: 10px;
    padding-inline-start: 10px;
}
/*nav style */
nav
{ 
    position: relative;
    margin-right: 100px;
}
li a 
{
    color:#444;
    text-decoration: none;
}
.nav__list
{
    list-style: none;
}

.nav__list li
{
    display: inline-block;
    margin-left: 25px;
    padding-left: 13px;
    padding-right: 3px;
}
div.nav
{
    display: flex;
}
nav a:hover 
{
    color: #56bc94;
}
/*end of nav style*/
  /*responsive header
@media screen and (max-width: 700px)
{
    .nav__list
    {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: blueviolet;
    }
.content{
    background-color:#56bc94;
}
}*/ 

  /*body style  */
/*the title of plan section*/
h2
{
    position: relative;
    padding-top: 150px;
    text-align: center;
    font-family:  'Lato',arial, sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #444;

}
/*the style of three plans */
.plan-div
{
    display :flex;
    justify-content: space-between;    
    position: relative;
    padding-top: 60px;
    padding-left: 60px;
    padding-right:60px;
    padding-bottom: 120px;
}
  .personal
  {
    padding-left: 100px;
    padding-right: 10px;
  }
  .Business
  {
      padding-right: 180px;
  }
  .Professional
  {
    padding-left: -20px;
    padding-right: 8px;

  }
.plan {
    display: inline-block;
    margin: 10px 1%;
    font-family: 'Lato', Arial, sans-serif;
  }
.plan-inner {
    background: #fff;
    margin: 0 auto;
    min-width: 280px;
    max-width: 100%;
    position:relative;
    border-radius: 0.25rem;/*////////*/
  }
  /*
  #9fd9c2  
  #56bc94
  #c4e7d9
  */
  .entry-title
  {
        background: #c4e7d9;
        height: 130px;
        position: relative;
        display: flex;
        justify-content:center ;
        text-align: center;
        margin-bottom: 70px;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
  }
.entry-title>h3 {
    background: #c4e7d9;
    color:#225742;
    font-size: 18px; /*18px*/
    text-align: center;
    padding-top: 35px ;/*35*/
   font-weight: 500;
    margin: 0;
  }
/*popular*/
/*end of popular*/
/*the style of price */
.entry-title .price {
    position: absolute;
    bottom: -60px;
    background: #56bc94;
    height: 120px;
    width: 120px;
    margin: 0 auto;
    left: 0;
    right: 0;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid #9fd9c2;/**/
    line-height: 120px;
    font-size: 28px;
    font-weight: 700;
    color: #fff;
  }
  .price .currency 
  {
    position:absolute;
    font-size: 1rem;
    font-weight: 400;
    padding-top: 0px;
    padding-left: 4px;
    text-align: center;
    color: #fff;
    bottom: -1px;
    left: 34px;
  }
 .price .number 
  {
    font-size: 28px;
    padding-left: 10px;
    font-weight: 400;
    line-height: 2.9;
    left:35px;
  } 
/*the style of list */
.entry-content {
  color: #323232;
}
.entry-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.entry-content li {
  border-bottom: 1px solid #efefef;
  font-family:  'Lato',arial, sans-serif;
  padding: 10px 0;
  /*///////////////////////////////*/
  display: block;
  white-space: nowrap;
  width: 17em;
  overflow: hidden;
  text-overflow: ellipsis;
/*//////////////////////////////////////////*/
}
.entry-content li:last-child {
  border: none;
}
/*the style of icon before the list-item*/
.fa-check,.fa-times,.item-disable
{
  margin-right: 8px;
  margin-left: 10px;
  font-family: 'FontAwesome';
}
.fa-check
{
  color:#56bc94;  
}
.fa-times,.item-disable
{
  color:#999;
}
/*the style of sign up button*/
.btn {
  padding: 3em 0;
  text-align: center;
}
.btn a {
  background: #56bc94;
  padding: 10px 95px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  border-radius: 0.25rem;
  font-weight: 400;
}
.btn a:hover
{  background-color: #3fa07a;
}
/*Contact us form*/
/*Contact info*/
.contact
{  
    background-image: url(bg.png);
    background-color: #56bc94;
    font-family: 'Lato', arial, sans-serif;
    color: #fff;
    padding: 100px 0;
    width: 100%;
  }
.contact .contact-title
 {
   margin-bottom: 30px;
   margin-top: 0;
   text-align: center!important;
   font-size: 2rem;
   font-weight: 500;
}
.contact-text
{
    text-align: center!important;
    padding-bottom: 18px;
}
.contact .contact-text p
 {
    font-size: 16px;
    margin-top: 10;
    margin-bottom: 1rem;
    display: block;
    margin-block-start: 1.5em;
    margin-block-end: 1em;
    margin-inline-start: 355px;
    margin-inline-end:340px;
}
/*contact icon*/
.phone,.website a
{  color: #317b5e;
  text-decoration: none;
  padding-bottom: 28px;
}
.contact-text li
{
  padding-top: 10px;
}
.fa-envelope,.fa-phone-square
{
  margin-right: 8px;
  margin-left: 10px;
  font-family: 'FontAwesome';
  color: #317b5e;
}
/*entry of contact form */
form
{
  display: block;
  margin-top: 0em;
}
.form-group
{
margin-bottom: 1rem;
margin-inline-start: 365px;
    margin-inline-end:-200px;
}
.text-center {
  text-align: center!important;
}
.contact .contact-form .form-control {
   border-color: #fff;
   height: auto;
   padding: 10px 15px;
   display: block;
   width: 50%;
   font-size: 1rem;
   font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: .25rem;
    overflow: visible;
    font-family: inherit;
    }

/* button send message*/
.contact .contact-form .btn{
    background-color: #317b5e;
    margin-top: 15px;
    border: 1px solid #56bc94;
    color: #fff;
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    display: inline-block;
}
/*social media icon */
.text-center .social-icons .fab ,.fa-facebook
{
  font-size: 25px;
  font-family: 'FontAwesome'; 
  color: #fff;
}
.social-icons ul {
  list-style: none;
  text-align: center;
}
.social-icons li {
  display: inline-block;
  margin-left: 17px;
  margin-right: 16px;
  margin-top: 80px;
  padding-left: -6px;
  padding-right: -6px;
}
/*footer*/
.footer .copyright {
  color: #b3b3b3;
  margin-right: 15px;
}
.footer {
  background: #444;
  color: #fff;
  padding: 15px 0;
  font-family: 'Lato', arial, sans-serif;


}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.small {
  font-size: 80%;
  font-weight: 400;
}
 .copyright a {
  color: #56bc94;
  text-decoration: none;
}